<h2>All Clubs</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" width="15%">Club</th>
      <th scope="col">Description</th>
      <th scope="col" width="10%">Time</th>
      <th scope="col" width="15%">Location</th>
      <th scope="col" width="15%">School</th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
    <tr>
      <th scope="row"><%= link_to club.name, club_path(club.id) %></th>
      <td><%= club.description.truncate(150, separator: ' ') %></td>
      <td><%= club.days %> @ <%= club.time %></td>
      <td><%= club.location %></td>
      <td><%= link_to club.school.name, school_path(club.school_id)%></td>
    </tr>
    <% end %>
  </tbody>
</table>