<table class="table">
  <thead>
    <tr>
      <th scope="col" width="20%">Club</th>
      <th scope="col">Description</th>
      <th scope="col" width="20%">Time</th>
      <th scope="col" width="30%">School</th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
    <tr style="font-size: 15px;">
      <th scope="row"><%= link_to club.name, club_path(club.id) %></th>
      <td><%= club.description.truncate(150, separator: ' ') %></td>
      <td><%= club.days %> <%= club.time.gsub(" - ", "-") %></td>
      <td><a href="<%= school_path(club.school_id) %>"><img src="<%= club.school.logo %>" class="mb-2 mt-2" width="50px"/></a>&nbsp;&nbsp;<%= link_to club.school.name, school_path(club.school_id) %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>