<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Schools", home_path %></li>
    <li class="breadcrumb-item"><%= link_to @club.school.name, school_path(@club.school_id) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @club.name %></li>
  </ol>
</nav>
<div class="row">
    <div class="col-8">
        <h2 class="mb-3"><%= @club.name %></h2>
        <p class="text-secondary" style="font-size: 18px;font-weight: 300;"><%= @club.description %></p><br>
        <%= render 'events/show' %>
    </div>
    <div class="col-4">
        <div class="card club-info shadow-sm">
          <% if @club.image.blank? %>
          <% else %>
            <a href="<%= @club.image %>"><img src="<%= @club.image %>" class="card-img-top"></a>
          <% end %>
          <div class="card-header" style="background: #016688;">
            <h5 class="card-title mb-0 text-center text-white"><%= @club.name %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <% if @club.days.blank? %><% else %><li class="list-group-item"><b>Meeting Time:</b><br> <%= @club.days %> <%= @club.time %></li><% end %>
            <% if @club.location.blank? %><% else %><li class="list-group-item"><b>Meeting Location:</b><br> <%= @club.location %></li><% end %>
            <% if @club.user.name == "Not Listed" %><% else %><li class="list-group-item"><b>Student Leader:</b><br> <a href="mailto:<%= @club.user.email %>"><%= @club.user.name %> <% if @club.user.graduating.blank? %><% else %><%= "'" + @club.user.graduating.last(2) %><% end %></a></li><% end %>
            <% if @club.faculty.blank? %><% else %><li class="list-group-item"><b>Faculty Advisor:</b><br> <% if @club.faculty_email.blank? %><%= @club.faculty %><% else %><a href="mailto:<%= @club.faculty_email %>"><%= @club.faculty %></a><% end %></li><% end %>
            <li class="list-group-item"><b>School:</b><br> <a href="<%= school_path(@club.school_id) %>"><img src="<%= @club.school.logo %>" class="mb-2 mt-2" width="50px"/></a>&nbsp;&nbsp;<%= link_to @club.school.name, school_path(@club.school) %></li>
          </ul>
          <div class="card-body">
            <% if @club.contact.blank? %>
            <% else %>
              <a href="mailto:<%= @club.contact %>" class="btn btn-success btn-block">Contact Us</a>
            <% end %>
            <% if @club.user == current_user %>
              <%= link_to "Manage Club", edit_club_path(@club.id), :class => 'btn btn-secondary btn-block' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>