<h4 id="events">Club Events</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" width="20%">Name</th>
              <th scope="col" width="30%">Description</th>
              <th scope="col" width="15%">When</th>
              <th scope="col" width="15%">Where</th>
              <th scope="col" width="10%">RSVP</th>
            </tr>
          </thead>
          <tbody>
            <% if @club.events.blank? %>
                 <tr style="font-size: 15px;">
                  <th scope="row"><p class="text-danger font-italic">No events found</p></th>
                </tr>
            <% else %>
                <% @club.events.each do |event| %>
                <tr style="font-size: 14px;">
                  <th scope="row"><%= link_to event.name, club_event_path(@club, event) %></th>
                  <td><%= event.description.truncate(90, separator: ' ') %></td>
                  <td><%= event.date_and_time %></td>
                  <td><%= event.location %></td>
                  <td><% if event.rsvp.blank? %><% else %><a href="<%= event.rsvp %>">Link</a><% end %></td>
                </tr>
                <% end %>
            <% end %> 
          </tbody>
        </table>