<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Schools", schools_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @school.name %></li>
  </ol>
</nav>
<div class="card shadow-sm mb-4" style="border-radius: 15px">
  <div class="card-body p-5">
    <div class="media">
      <% if @school.logo.blank? %>
      <% else %>
        <img src="<%= @school.logo %>" class="align-self-center mr-5 p-2" width="150px">
      <% end %>
      <div class="media-body">
        <h2 class="mb-3 garamond"><%= @school.name %></h2>
        <p class="text-secondary mb-3" style="font-size: 18px;font-weight: 300;"><%= @school.description %></p>
        <div class="row">
          <div class="col-4">
            <b class="mb-2">Website:</b><br>
            <a href="<%= @school.website %>"><%= @school.website.gsub("www.","") %></a>
          </div>
          <div class="col-3">
            <b class="mb-2">Phone Number:</b><br>
            <a href="tel:<%= @school.phone %>"><%= @school.phone %></a>
          </div>
          <div class="col-5">
            <b class="mb-2">Address:</b><br>
            <a href="https://www.google.com/maps/search/?q=<%= @school.address.gsub(" ","+") %>"><%= @school.address %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted pt-4 pb-0">
    <% if @school.user == current_user %>
    <%= link_to "Manage School", edit_school_path(@school), :class => 'btn btn-secondary btn-block' %><br>
    <% end %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" width="20%">Club</th>
      <th scope="col">Description</th>
      <th scope="col" width="20%">Time</th>
      <th scope="col" width="20%">Location</th>
    </tr>
  </thead>
  <tbody style="font-size: 15px;">
    <% if @school.clubs.blank? %>
      <tr>
        <th scope="row" class="text-danger font-italic">No clubs listed</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% else %>
      <% @school.clubs.each do |club| %>
      <tr>
        <th scope="row"><%= link_to club.name, club_path(club.id) %></th>
        <td><%= club.description.truncate(150, separator: ' ') %></td>
        <td><%= club.days %> <%= club.time %></td>
        <td><%= club.location %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>