<!DOCTYPE html>
<html>
  <head>
    <title>Clubs Directory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:300,600|Open+Sans:100,200,300,600' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container mt-4 mb-5">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
